@font-face {
  font-family: IRANYekan ;
  src: url(./asset/font/IRANYekan.woff) format("woff");
}

*{
 font-family: IRANYekan,sans-serif ;
  margin: 0;
  box-sizing: border-box;
 
}
body{
  overflow:hidden
}